<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">



    <servlet>
        <servlet-name>SaveNoteServlet</servlet-name>
        <servlet-class>com.example.demo.SaveNoteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveNoteServlet</servlet-name>
        <url-pattern>/SaveNoteServlet</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>com.example.demo.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>com.example.demo.UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>


</web-app>
